<header>
	<nav>
		<a href="#"><img src="/logo-dark.svg" alt="Skilled" class="icon" /></a>
		<a href="#" class="button">Get Started</a>
	</nav>
</header>

<style>
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: 1.5rem;
	}
</style>
